<!-- Toolbar -->
<nav>
  <div class="navbar">
    <div class="container nav-container">
      <div class="flex-row-center">
        <img class="logo" alt="" src="../assets/logo/favicon.png" />
        <span class="name m-0">μ-Lee</span>
      </div>
      <span class="menu-title">CHOOSE YOUR BREAKFAST</span>
      <div>
        <button class="button icon"><i class="fa fa-info"></i></button>
        <button class="button icon"><i class="fa fa-gear"></i></button>
        <button class="button icon"><i class="fa fa-power-off"></i></button>
      </div>
    </div>
  </div>
</nav>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
