<div class="container">
  <div class="cards-grid">
    <div
      class="card interactable-bright"
      *ngFor="let breakfast of breakfastOptions; let idx = index"
      (click)="selectedOption = breakfast; openModal('details-modal')"
    >
      <div class="content">
        <h2 class="mb-16">{{ breakfast?.name ?? "NAME" }}</h2>
        <p>
          <span *ngFor="let ingredient of breakfast?.ingredients">
            {{ ingredient.name }},<br />
          </span>
        </p>
      </div>

      <div class="art">
        <img
          [src]="
            '../../../assets/breakfast/' +
            (breakfast?.name ?? 'Healthy Mix') +
            '.png'
          "
          alt=""
        />
      </div>
    </div>
    <div class="buttons-container">
      <button routerLink="/breakfast/customize" class="interactable-bright">
        <i class="fa fa-wrench mr-8"></i>CUSTOMIZE
      </button>
      <button routerLink="/breakfast/explore" class="interactable-bright">
        <i class="fa fa-fire mr-8"></i>EXPLORE
      </button>
    </div>
  </div>
</div>

<jw-modal id="details-modal">
  <!-- Information Row -->
  <div class="information-row flex-row">
    <img
      class="breakfast-image"
      [src]="
        '../../../assets/breakfast/' +
        (selectedOption?.name ?? 'Healthy Mix') +
        '.png'
      "
    />

    <div class="flex-col">
      <h1 class="breakfast-title">{{ selectedOption?.name }}</h1>
      <div class="ingredients-icons flex-row">
        <div
          class="ingredient-icon flex-col"
          *ngFor="let ingredient of selectedOption?.ingredients"
        >
          <img
            [src]="'../../../assets/ingredients/' + ingredient.name + '.png'"
          />
          <h3>{{ ingredient.name }}</h3>
        </div>
      </div>
    </div>
  </div>

  <!-- Details Row -->
  <div class="details-row flex-row">
    <div class="details-section flex-col">
      <h2 class="details-section-title ml-0">Nutritional Values (100 g)</h2>

      <!-- Nutritional Values -->
      <div class="nutritional-values flex-col">
        <div class="nutritional-value flex-row">
          <span>Calories</span>
          <span>{{ getBreakfastCalories(selectedOption) }} kcal</span>
        </div>
        <div
          *ngFor="let value of getBreakfastNutritionalValues(selectedOption)"
          class="nutritional-value flex-row"
        >
          <span>{{ value.name }}</span>
          <span>{{ (value.percentage ?? 0) * 100 | number }} g</span>
        </div>
      </div>
    </div>

    <!-- Allergens -->
    <div class="details-section flex-col">
      <h2 class="details-section-title">Allergens</h2>
      <div class="allergens">
        <div
          *ngFor="let allergen of selectedOption?.allergens"
          class="allergen flex-row"
        >
          <img [src]="'../../../assets/allergens/' + allergen + '.png'" />
          <span class="name">{{ allergen }}</span>
        </div>
      </div>
    </div>

    <!-- Milk Type -->
    <div class="details-section flex-col">
      <h2 class="details-section-title">Milk Type</h2>
      <div class="liquids">
        <div *ngFor="let liquid of liquids" class="liquid flex-row">
          <input type="radio" [id]="liquid" name="fav_language" value="HTML" />
          <label [for]="liquid">{{ liquid }}</label>
        </div>
      </div>
    </div>

    <!-- Buttons -->
    <div class="details-buttons flex-col">
      <button class="interactable-bright" (click)="closeModal('details-modal')">
        <i class="fa fa-arrow-left"></i>
        RETURN
      </button>
      <button
        class="interactable-bright"
        (click)="cancelModal('details-modal')"
      >
        <i class="fa fa-play"></i>
        START
      </button>
    </div>
  </div>
</jw-modal>
