<div class="cards-grid">
  <div class="card">
    <div class="content">
      <h2 class="mb-16">FRUITY LOOP</h2>
      <p>Blueberries,<br />Cranberries,<br />Classic Musli</p>
    </div>

    <div class="art">
      <img width="160" src="../../../assets/cereals3.png" alt="" />
    </div>
  </div>

  <div class="card">
    <div class="content">
      <h2 class="mb-16">FRUITY LOOP</h2>
      <p>Blueberries,<br />Cranberries,<br />Classic Musli</p>
    </div>

    <div class="art">
      <img width="160" src="../../../assets/cereals2.png" alt="" />
    </div>
  </div>

  <div class="card">
    <div class="content">
      <h2 class="mb-16">FRUITY LOOP</h2>
      <p>Blueberries,<br />Cranberries,<br />Classic Musli</p>
    </div>

    <div class="art">
      <img width="160" src="../../../assets/cereals1.png" alt="" />
    </div>
  </div>

  <div class="card">
    <div class="content">
      <h2 class="mb-16">FRUITY LOOP</h2>
      <p>Blueberries,<br />Cranberries,<br />Classic Musli</p>
    </div>

    <div class="art">
      <img width="160" src="../../../assets/cereals3.png" alt="" />
    </div>
  </div>

  <div class="card">
    <div class="content">
      <h2 class="mb-16">FRUITY LOOP</h2>
      <p>Blueberries,<br />Cranberries,<br />Classic Musli</p>
    </div>

    <div class="art">
      <img width="160" src="../../../assets/cereals2.png" alt="" />
    </div>
  </div>

  <div class="card">
    <div class="content">
      <h2 class="mb-16">FRUITY LOOP</h2>
      <p>Blueberries,<br />Cranberries,<br />Classic Musli</p>
    </div>

    <div class="art">
      <img width="160" src="../../../assets/cereals1.png" alt="" />
    </div>
  </div>
</div>
