@import "src/parameters.scss";

.container {
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  color: $primary-dark;
}

.cards-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 80%;
  max-height: 100%;
}

.card {
  margin: 0 60px 60px 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // width: 300px;
  // height: 160px;
  width: 20vw;
  height: 20vh;
  min-height: 140px;
  min-width: 200px;
  max-height: 200px;

  .content {
    width: 60%;
    padding: 1rem;
  }

  .art {
    width: 40%;
    padding: 0;

    img {
      width: 10vw;
      height: auto;

      position: relative;
      // right: -20px;
      // bottom: -20px;
      right: -0.5vw;
      bottom: -6vh;
    }
  }
}

.buttons-container {
  // width: 300px;
  // height: 160px;
  width: 20vw;
  height: 20vh;
  margin: 0 60px 60px 0;
  min-height: 140px;
  min-width: 200px;
  max-height: 200px;

  display: flex;
  flex-direction: column;

  button {
    height: 50%;

    font-size: 1.5em;
    font-weight: bold;
  }
}

// Details Modal
#details-modal {
  color: $primary-2;

  // Information Row
  .information-row {
    margin-bottom: 32px;
    margin-top: 16px;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

    .breakfast-title {
      margin: 0 0 16px 16px;
      font-size: 3em;
    }

    .breakfast-image {
      width: 16em;
    }

    .ingredients-icons {
      .ingredient-icon {
        align-items: center;
        justify-content: end;
        margin: 0 16px;

        img {
          width: 6em;
          margin-bottom: 8px;
        }
        h3 {
          font-size: 1.5em;
          font-weight: 100;
        }
      }
    }
  }

  // Details Row
  .details-row {
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;

    .details-section {
      border-left: 4px solid $primary-2;
      padding-left: 8px;
      margin: 16px;

      &-title {
        font-size: 1.6em;
        font-weight: bold;
        margin-bottom: 16px;
      }

      .nutritional-value {
        padding: 8px;
        margin-left: -8px;
        font-size: 1.2em;
        justify-content: space-between;
        min-width: 360px;

        &:nth-child(even) {
          background-color: $primary-back2;
        }

        &:nth-child(odd) {
          background-color: $primary-back1;
        }
      }

      .allergens {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-grow: 1;
        margin-left: 8px;

        .allergen {
          align-items: center;
          margin-bottom: 16px;

          img {
            width: 2.8em;
            margin-right: 8px;
          }

          .name {
            font-size: 1.2em;
          }
        }
      }

      .liquids {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-grow: 1;
        margin-left: 8px;

        .liquid {
          label {
            margin-left: 8px;
            font-size: 1.2em;
          }
        }
      }
    }

    .details-buttons {
      margin: 8px 16px 8px 64px;
      button {
        font-size: 1.5em;
        padding: 16px;
        height: 50%;

        i {
          margin-right: 8px !important;
        }
      }
    }
  }
}
