<div class="container">
  <div class="cards-grid">
    <div
      class="card interactable-bright"
      *ngFor="let breakfast of breakfastOptions; let idx = index"
      (click)="openModal('details-modal')"
    >
      <div class="content">
        <h2 class="mb-16">{{ breakfast?.name ?? "NAME" }}</h2>
        <p>
          <span *ngFor="let ingredient of breakfast?.ingredients">
            {{ ingredient.name }},<br />
          </span>
        </p>
      </div>

      <div class="art">
        <img
          [src]="'../../../assets/breakfast/cereals' + (idx + 1) + '.png'"
          alt=""
        />
      </div>
    </div>
    <div class="buttons-container">
      <button routerLink="/breakfast/customize" class="interactable-bright">
        <i class="fa fa-wrench mr-8"></i>CUSTOMIZE
      </button>
      <button routerLink="/breakfast/explore" class="interactable-bright">
        <i class="fa fa-fire mr-8"></i>EXPLORE
      </button>
    </div>
  </div>
</div>

<jw-modal id="details-modal">
  <!-- Information Row -->
  <div class="information-row flex-row">
    <img src="../../../assets/breakfast/cereals1.png" width="160vw" />

    <div class="flex-col">
      <h3>HEALTHY MIX</h3>
      <div class="flex-row"></div>
    </div>
  </div>

  <!-- Details Row -->
  <div class="flex-row">
    <div class="flex-col">Nutritional Values</div>
    <div class="flex-col">Allergens</div>
    <div class="flex-col">Milk Type</div>
    <div class="flex-col">
      <button (click)="closeModal('details-modal')">RETURN</button>
      <button (click)="cancelModal('details-modal')">START</button>
    </div>
  </div>
</jw-modal>
